bin/SDLGUIlibTests/Debug/Diagnostic.txt
bin/SDLGUIlibTests/Debug/ErrorLog.txt
bin/SDLGUIlibTests/Debug/SDLGUIlibTests.exe
bin/SDLGUIlibTests/Debug/SDLGUIlibTests.ilk
bin/SDLGUIlibTests/Debug/SDLGUIlibTests.pdb
bin/SDLGUIlibTests/Debug/animations/
bin/SDLGUIlibTests/Release/Diagnostic.txt
bin/SDLGUIlibTests/Release/ErrorLog.txt
bin/SDLGUIlibTests/Release/RunRelease.bat
bin/SDLGUIlibTests/Release/SDLGUIlibTests.exe
bin/SDLGUIlibTests/Release/SDLGUIlibTests.pdb
bin/SDLGUIlibTests/Release/animations/
bin/ShokoTD/Debug/ShokoTD++.exe
bin/ShokoTD/Debug/Diagnostic.txt
bin/ShokoTD/Debug/ErrorLog.txt
bin/ShokoTD/Debug/ShokoTD++.ilk
bin/ShokoTD/Debug/ShokoTD++.pdb
bin/ShokoTD/Debug/Skills.xml
bin/ShokoTD/Debug/Settings.xml
bin/ShokoTD/Debug/animations/
bin/ShokoTD/Debug/levels/
bin/ShokoTD/Release/ShokoTD++.exe
bin/ShokoTD/Release/Diagnostic.txt
bin/ShokoTD/Release/ErrorLog.txt
bin/ShokoTD/Release/Settings.xml
bin/ShokoTD/Release/ShokoTD++.pdb
bin/ShokoTD/Release/Skills.xml
bin/ShokoTD/Release/animations/
bin/ShokoTD/Release/levels/
bin/shokotdlibtests/
src/ShokoTDLibTets/ErrorLog.txt
src/ShokoTDLibTests/ErrorLog.txt
lib/
src/SDLGUIlib/Debug/
src/SDLGUIlib/Release/
src/SDLGUIlibTests/Debug/
src/SDLGUIlibTests/Release/
src/ShokoTD++/Debug/
src/ShokoTD++/Release/
src/ShokoTD++lib/Debug/
src/ShokoTD++lib/Release/
src/ShokoTDLibTests/Debug/
src/ShokoTDLibTests/Release/
ShokoTD.ncb
ShokoTD.suo
*.user
